<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Link to the external CSS file for styling -->
    <link rel="stylesheet" href="/loginstyle.css">
</head>
<body>
    <!-- Container for the login form -->
    <div class="login-container">
        <h2>Login</h2>
        <form id="loginn">
        <!-- Login form -->
        <form action="/login" method="post">
            <!-- Input field for username -->

            <input type="text" name="username" placeholder="Username" required>
            <!-- Input field for password -->
            <input type="password" name="password" placeholder="Password" required>
            <!-- Submit button for the form -->
            <button type="submit" class="login">Login</button>
            <button type="click" id="signup" class="sign-up">Don't have an account?    Sign up now</button>
        </form>
    </div>
    <!-- Link to the external JavaScript file for resizing the container -->
    <script src="/login.js"></script>
</body>
</html>