/* Styling for the body element */
body {
    font-family: Arial, sans-serif; /* Sets the font family */
    display: flex; /* Uses Flexbox layout */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    height: 100vh; /* Sets height to 100% of the viewport height */
    background-color: #f0f0f0; /* Light gray background color */
}

/* Styling for the login container */
.login-container {
    background-color: #fff; /* White background color */
    padding: 20px; /* Padding inside the container */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for 3D effect */
}

/* Styling for the heading inside the login container */
.login-container h2 {
    margin-bottom: 20px; /* Space below the heading */
}

/* Styling for the input fields inside the login container */
.login-container input {
    width: 97.75%; /* Full width of the container */
    padding: 10px; /* Padding inside the input fields */
    margin: 10px auto; /* Space around the input fields and centers them */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 10px; /* Rounded corners */
}

/* Styling for the button inside the login container */
.login {
    width: 100%; /* Full width of the container */
    padding: 10px; /* Padding inside the button */
    background-color: #007BFF; /* Blue background color */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    color: #fff; /* White text color */
    font-size: 16px; /* Font size */
}

.sign-up {
    margin-top: 20px;
    margin-left:25%;
    border: none; /* No border */
    background-color: #fff; /* White background color */
    align: center;
    opacity: 0.3;
}

.sign-up:hover {
    opacity: 0.6;
}
